body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.nav-bar {
    width: auto;
    height: 150px;
    display: inline-block;
}

.left-justify {
    display: block;
    float: left;
}

.content-container {
    display: inline-flex;
}

.login-text {
    font-family: inherit;
    display: inline;
}

.form-block1 {
    margin: 5px;
    padding: 5px;
}

.form-block2 {
    margin: 5px;
    padding: 5px;
}

.rounded-border {}

.form-btn {}

.blue-text {}

.reg-text {}