@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600&family=Poppins:wght@400;700&display=swap');

:root {
    /* colors */
    --soft-yellow: #FFEB99;
    --peachy-orange: #FFAD60;
    --sky-blue: #72C6E9;
    --mint-green: #A8E6CF;
    --lavender: #D4A5E5;

    /* fonts */
    --header-font: "Poppins", sans-serif;
    --body-font: "Nunito", sans-serif;
}

body {
    font-family: var(--body-font);
    background-color: var(--mint-green);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--header-font);
}