{% extends "base.html" %}
{% block content %}
    <div class="form-container">
        <h2 class="form-text">Add New Entry</h2>
        <form method="POST">
            <div class="form-block1">
                <label class="form-block2">What happened today?</label>
                <textarea name="content" required class="w-full p-2 border rounded"></textarea>
            </div>
            
            <div class="form-block1">
                <label class="form-block1">Rate this event (1-10)</label>
                <input type="number" name="rating" min="1" max="10" required class="w-full p-2 border rounded">
            </div>

            <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600">Save Entry</button>
        </form>
    </div>
{% endblock %}