<!DOCTYPE html>
<html>
    <head>
        <title>My Series of Fortunate Events</title>
        <link rel="stylesheet" href="/static/styles.css">
    </head>
    
    <body>
        <nav>
            <div class="left-justify"></div>

            <h1 class="page-title">My Series of Fortunate Events</h1>

            {% if session.user_id %}
                <a href="/logout" class="logout">Logout</a>
            {% endif %}
        </nav>
        
        <div class="content-container">
            {% block content %}{% endblock %}
        </div>
    </body>
</html>