<!DOCTYPE html>
<html>
    <head>
        <title>My Series of Fortunate Events</title>
        <link rel="stylesheet" href="/static/styles.css">
        <link rel="icon" href="static/assets/logo.png">
    </head>
    
    <body align="center">
        <nav>
            <img src="/static/assets/logo.png" alt="pen writing" class="logo">

            {% if session.user_id %}
            <div class="nav-bar-btns">
                <a href="/my-profile"><button class="nav-btn">My Profile</button></a>
                <a href="/logout" class="logout"><button class="nav-btn">Logout</button></a>
            </div>
            {% endif %}
        </nav>
        
        {% block content %}{% endblock %}
    </body>
</html>