<!DOCTYPE html>
<html>
    <head>
        <title>My Series of Fortunate Events</title>
        <link rel="stylesheet" href="/static/styles.css">
    </head>
    
    <body>
        <nav>
            <div class="left-justify">
                <h1>My Series of Fortunate Events</h1>
                {% if session.user_id %}
                    <a href="/logout">Logout</a>
                {% endif %}
            </div>
        </nav>
        <div class="content-container">
            {% block content %}{% endblock %}
        </div>
    </body>
</html>