{% extends "base.html" %}
{% block content %}

<h2>Your Entries</h2>

<a href="/add-entry" class="new-entry-link"><button class="new-entry">Add New Entry</button></a>

<div class="table-container">
    <table align="center">
        <tr>
            <th>Date</th>
            <th>Event</th>
            <th>Rating</th>
        </tr>

        {% for event in events %}
        <tr>
            <td>{{ event['created_at'].strftime('%m/%d/%Y') }}</td>
            <td>{{ event['entry'] }}</td>
            <td>{{ event[rating] }}/10</td>
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}