{% extends "base.html" %}
{% block content %}

<h2>Your Entries</h2>

<a href="/add-entry" class="new-entry-link"><button class="new-entry">Add New Entry</button></a>

<div class="table-container">
    <table align="center">
        <tr>
            <th>Date</th>
            <th>Event</th>
            <th>Rating</th>
        </tr>

        {% for entry in entries %}
        <tr>
            <td>{{ entry['created_at'] }}</td>
            <td>{{ entry['entry'] }}</td>
            <td>{{ entry['rating'] }}/10</td>
        </tr>
        {% endfor %}
    </table>
</div>

{% if show_more %}
    <div style="text-align:center; margin-top:20px;">
        <a href="{{ url_for('home', limit=next_limit) }}" class="btn btn-secondary">Load More</a>
    </div>
{% endif %}

{% endblock %}