{% extends "base.html" %}
{% block content %}

<div class="table-container">
    <div class="site-actions">
        <h2 class="form-text">Your Entries</h2>
        
        <div class="table-controls">
            <a href="/add-entry" class="btn btn-primary">Add New Entry</a>
        </div>
    </div>
    
    <table>
        <thead>
            <tr>
                <th>Date</th>
                <th>Event</th>
                <th>Rating</th>
            </tr>
        </thead>

        <tbody>
            {% for event in events %}
            <tr>
                <td>{{ event.date.strftime('%Y-%m-%d %H:%M') }}</td>
                <td>{{ event.content }}</td>
                <td>{{ event.rating }}/10</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}