{% extends "base.html" %}
{% block content %}

<form action="/login" method="post">
    <h2 class="form-text">Login</h2>

    <br>

    <label class="form-block2">Username:</label><br>
    <input type="text" name="username" required>
    
    <br><br>
    
    <label class="form-block2">Password:</label><br>
    <input type="password" name="password" required>

    <br><br>

    <input type="submit" value="Login">
</form>

<p class="reg-text">Don't have an account? <a href="/signup">Sign Up</a>.</p>

{% endblock %}